<section class="contacts-page">
  <h1 class="mat-headline-medium">Contacts</h1>

  <div class="cards-row">
    <mat-card appearance="outlined" class="contact-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title>Paulo Ricardo Rovere</mat-card-title>
        <mat-card-subtitle>DEVA2A - Informaticien Développement d'applications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon inline>email</mat-icon> paulo.bento&#64;eduvaud.ch</p>
        <p><mat-icon inline>location_on</mat-icon> EPSIC, Vaud, Suisse</p>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="contact-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title>Guilherme Ferreira</mat-card-title>
        <mat-card-subtitle>DEVA2A - Informaticien Développement d'applications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon inline>email</mat-icon>guilherme.darocha&#64;eduvaud.ch</p>
        <p><mat-icon inline>location_on</mat-icon> EPSIC , Vaud, Suisse</p>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="contact-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title>Santos Macuacua</mat-card-title>
        <mat-card-subtitle>DEVA2A - Informaticien Développement d'applications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon inline>email</mat-icon>santos.macuacua&#64;eduvaud.ch</p>
        <p><mat-icon inline>location_on</mat-icon> EPSIC , Vaud, Suisse</p>
      </mat-card-content>
    </mat-card>
  </div>


</section>
